<div class="panel-heading">
  <h3 class="panel-title">Edit Recipe: {{title}}</h3>

</div>
<br>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    <div class="form-group">
      <label for="title-input">Recipe Title</label>
      <input id="title-input" value="{{title}}"class="form-control" type="text">
      <br>
      <label for="description-input">Recipe Description</label>
      <input id="description-input" value="{{description}}" class="form-control" type="text">
      <br>
      <button id="save-recipe" class="btn btn-success">Save Recipe</button>
      <br>
    </div>
    <div class="panel panel-default">
      <header class="panel-heading">
        {{title}}
      </header>
      <div class="panel-body">
        <p id="list-description" class="list-group-item-text">{{description}}</p>
      </div>
    </div>
  </div>
</div>
<br>
